# Ignore Python cache and artifacts
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# Virtual environments
venv/
.env/
*.env
.venv

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs and databases
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db